.center
  = form_for(@design) do |f|
    - if @design.errors.any?
      #error_explanation
        %h2
          = pluralize(@design.errors.count, "error")
          prohibited this design from being saved:
        %ul
          - @design.errors.full_messages.each do |msg|
            %li= msg
    .field
      = f.label :select_type_id, "Producto"
      %br/
      = select_type
    .field
      = f.label :nombre
      %br/
      = f.text_field :nombre
    .field
      = f.label :detallas, "Detalles"
      %br/
      = f.text_field :detallas
    .field
      = f.label :Tiempo_en_minutos
      %br/
      = f.text_field :Tiempo_en_minutos
    .field
      = f.label :nivel
      %br/
      = f.select(:nivel, options_for_select([ "Amarillo","Verde","Azul", "Rojo" ], @design.nivel))
    .field
      = f.label :url1, "Photo Url Link #1"
      %br/
      = f.text_field :url1
    .field
      = f.label :url2, "Photo Url Link #2"
      %br/
      = f.text_field :url2
    .field
      = f.label :url3, "Photo Url Link #3"
      %br/
      = f.text_field :url3
    %footer
      .actions
        = f.submit "Enviar", class: "btn btn-default"