
%h1= @design.nombre



%center
  %p#notice= notice
  %p
    %b Producto:
    = @design.product_type.nombre
  %p
    %b Detalles:
    = @design.detallas
  %p
    %b Nivel:
    = @design.nivel

  %p
    %b Tiempo en minutos:
    = @design.Tiempo_en_minutos
  %p
    %b Precio por Mayor ($2.20 por hora):
    = bulk_price
  %p
    =image_tag raw @design.url1
    =image_tag raw @design.url2
    =image_tag raw @design.url3
    
  = link_to 'Editar', edit_design_path(@design)
  \|
  = link_to 'Ver Todo', designs_path
