%h1 Registro


%h2="Total menos obligaciones #{currency total_cash}"
%table.table-striped.table-bordered.table.wice-grid
	%thead
		%tr.wice-grid-title-row
			%th Fecha
			%th.hidden-phone.hidden-tablet Código
			%th Descripción
			%th Tipo
			%th Efectivo
			%th Banco de Guayaquil
			%th Paypal
			%th Payoneer
			%th Obligaciones
		%tr.hidden-print
			%th 
			%th
			%th 
			%th 
			%th= currency @registers.sum(:effectivo) 
			%th=currency @registers.sum(:banco)
			%th=currency @registers.sum(:paypal)
			%th=currency @registers.sum(:payoneer)
			%th=currency @registers.sum(:obligaciones)
	- @registers.sort_by { |obj| obj.created_at }.reverse.each do |transaction|
		%tr
			%td= link_to transaction.created_at.strftime("%d/%m/%y"), edit_register_path(transaction)
			%td.hidden-phone.hidden-tablet= link_to transaction.codigo || "modificar", edit_register_path(transaction)
			%td= link_to transaction.Descripcion, edit_register_path(transaction)
			%td= link_to transaction.tipo || "modificar", edit_register_path(transaction)
			%td.hidden-phone= link_to (currency (transaction.effectivo)) , edit_register_path(transaction)
			%td.hidden-phone= link_to (currency (transaction.banco)) , edit_register_path(transaction)
			%td.hidden-phone= link_to (currency (transaction.paypal)) , edit_register_path(transaction)
			%td.hidden-phone= link_to (currency (transaction.payoneer)) , edit_register_path(transaction)
			%td.hidden-phone= link_to (currency (transaction.obligaciones)) , edit_register_path(transaction)




