%h1 Artistas

%table.table-striped.table-bordered.table.wice-grid
  %thead
    %tr.wice-grid-title-row
      %th Nombre
      %th Ingresos
      %th.hidden-phone.hidden-tablet Papel
      %th.hidden-phone.hidden-tablet Fecha de Elección
      %th Teléfono
      %th.hidden-phone Dirección


  - @artists.each do |artist|
    %tr
      %td= link_to artist.nombre, artist
      -if artist.beg_pago.nil?
        %td= link_to (currency artist.products.where(location_id: 2).sum(:pago)), artist_path(artist)
      -else
        %td= link_to (currency (artist.beg_pago+artist.products.where(location_id: 2).sum(:pago))), artist_path(artist)
      %td.hidden-phone.hidden-tablet= link_to artist.papel, artist_path(artist)
      %td.hidden-phone.hidden-tablet= link_to artist.fecha_de_eleccion || " ", artist
      %td= link_to artist.telefono, artist
      %td.hidden-phone= link_to [artist.direccion_1,artist.direccion_2,artist.direccion_2].join(" "), artist



