%h1 Socias

%table.table-striped.table-bordered.table.wice-grid
  %thead
    %tr.wice-grid-title-row
      %th Nombre
      %th.hidden-phone.hidden-tablet Papel
      %th.hidden-phone.hidden-tablet Fecha de Elección
      %th Teléfono
      %th.hidden-phone Dirección


  - @artists.each do |artist|
    %tr
      %td= link_to artist.nombre, artist
      %td.hidden-phone.hidden-tablet= link_to artist.papel, artist
      %td.hidden-phone.hidden-tablet= link_to artist.fecha_de_eleccion || " ", artist
      %td= link_to artist.telefono, artist
      %td.hidden-phone= link_to [artist.direccion_1,artist.direccion_2,artist.direccion_2].join(" "), artist





