=@buyer.company

Nombre y Apellido:
= @buyer.contact_name

Email:
= @buyer.contact_email

Tel
= @buyer.contact_phone_1
= @buyer.contact_phone_2

Adress
= @buyer.special_instructions
= @buyer.special_instructions_2
= @buyer.special_instructions_3
= @buyer.special_instructions_4
