
.navbar.navbar-inverse.hidden-print 
  .navbar-inner.hidden-print
    .container.hidden-print
      / .btn-navbar is used as the toggle for collapsed navbar content
      %a.btn.btn-navbar{"data-target" => ".nav-collapse", "data-toggle" => "collapse"}
        %span.icon-bar 
        %span.icon-bar
        %span.icon-bar
      / Be sure to leave the brand out there if you want it shown
      .brand#hide_brand_desktop.hidden-phone Mujeres Cambia
      / Everything you want hidden at 940px or less, place within here
      .nav-collapse
        %ul.nav
          -#Productos          
          %li{:class => "dropdown #{visited_class('products')}"}
            %a.dropdown-toggle{"data-toggle" => "dropdown", href: "/products"}
              Inventario
              %b.caret
            %ul.dropdown-menu
              %li= link_to 'Ver Inventario', products_path
              %li= link_to 'Añadir Nuevo', new_product_path         
          -#Orders          
          %li{:class => "dropdown #{visited_class('orders')}"}
            %a.dropdown-toggle{"data-toggle" => "dropdown", href: "/orders"}
              Pedidos
              %b.caret
            %ul.dropdown-menu
              %li= link_to 'Ver Pedidos', orders_path
              %li= link_to 'Crear Nuevo', new_order_path    
          -#Clients
          %li{:class => "dropdown #{visited_class('customers')}"}
            %a.dropdown-toggle{"data-toggle" => "dropdown", href: "/customers"}
              Clientes
              %b.caret
            %ul.dropdown-menu
              %li= link_to 'Ver Todos los Clientes', customers_path
              %li= link_to 'Crear Nuevo', new_customer_path
          -#Diseños          
          %li{:class => "dropdown #{visited_class('designs')}"}
            %a.dropdown-toggle{"data-toggle" => "dropdown", href: "/designs"}
              Diseños
              %b.caret
            %ul.dropdown-menu
              %li= link_to 'Ver Todas Diseños', designs_path
              %li= link_to 'Crear Nuevo', new_design_path
          -#Accounting         
          %li{:class => "dropdown #{visited_class('registers')}"}
            %a.dropdown-toggle{"data-toggle" => "dropdown", href: "/registers"}
              Registro
              %b.caret
            %ul.dropdown-menu
              %li= link_to 'Ver Registro', registers_path
              %li= link_to 'Crear Nuevo', new_register_path
           
          -#Artists          
          %li{:class => "dropdown #{visited_class('artists')}"}
            %a.dropdown-toggle{"data-toggle" => "dropdown", href: "/artists"}
              Artistas
              %b.caret
            %ul.dropdown-menu
              %li= link_to 'Ver Todas Artistas', artists_path
              %li= link_to 'Crear Nuevo', new_artist_path
          -#Locations          
          %li{:class => "dropdown #{visited_class('locations')}"}
            %a.dropdown-toggle{"data-toggle" => "dropdown", href: "/locations"}
              Ubicaciónes
              %b.caret
            %ul.dropdown-menu
              %li= link_to 'Ver Todos Producto Tipos', locations_path
              %li= link_to 'Crear Nuevo', new_location_path
          -#Empresa          
          %li{:class => "dropdown #{visited_class('my_details')}"}
            %a.dropdown-toggle{"data-toggle" => "dropdown", href: "/my_details"}
              General
              %b.caret
            %ul.dropdown-menu
              %li= link_to 'Microempresa Detalles', my_details_path 
              %li= link_to 'Integración de Cellulares', instructions_path  
              %li= link_to 'Producto Tipos', product_types_path