.navbar.navbar-inverse
  .navbar-inner
    %ul.nav

      -#Buyers
      %li{:class => "dropdown #{visited_class('buyers')}"}
        %a.dropdown-toggle{"data-toggle" => "dropdown", href: "/buyers"}
          = t "nav.buyers"
          %b.caret
        %ul.dropdown-menu
          %li= link_to 'Ver Todos los Compradores', buyers_path
          %li= link_to 'Crear Comprador Nuevo', new_buyer_path


      -#Sales          
      %li{:class => "dropdown #{visited_class('sales')}"}
        %a.dropdown-toggle{"data-toggle" => "dropdown", href: "/buyers"}
          = t "nav.sales"
          %b.caret
        %ul.dropdown-menu
          %li= link_to 'Ver Todas Las Ventas', sales_path
          %li= link_to 'Crear Comprador Nuevo', new_sale_path