= form_for(@customer) do |f|
  - if @customer.errors.any?
    #error_explanation
      %h2
        = pluralize(@customer.errors.count, "error")
        prohibited this customer from being saved:
      %ul
        - @customer.errors.full_messages.each do |msg|
          %li= msg
  .tabbable
    %ul#proftabs.nav.nav-tabs.mobile_hide
      %li
        %a{"data-toggle" => "tab", href: "#basic_info_tab"} Básico
      %li.hidden-phone
        %a{"data-toggle" => "tab", href: "#direccion_tab"} Dirección
      %li
        %a{"data-toggle" => "tab", href: "#factura_tab"} Factura
      %li
        %a{"data-toggle" => "tab", href: "#precio_tab"} Precios
      %li
        %a{"data-toggle" => "tab", href: "#enviarfactura_tab"} Enviar Factura
  -#Tab Content
  .tab-content.spacer
    #basic_info_tab.tab-pane.active
      .field
        = f.label :compania, "Compañía"
        %br/
        = f.text_field :compania
      .field
        = f.label :nombre_de_contacto,"Contacto"
        %br/
        = f.text_field :nombre_de_contacto
      .field
        = f.label :email_de_contacto, "Email"
        %br/
        = f.text_field :email_de_contacto
      .field
        = f.label :telefono_1, "Teléfono Principal"
        %br/
        = f.text_field :telefono_1
      .field
        = f.label :telefono_2, "Teléfono Alternativa"
        %br/
        = f.text_field :telefono_2
    #direccion_tab.tab-pane  
      .field
        = f.label :direccion_1, "Dirección"
        %br/
        = f.text_field :direccion_1
        %br/
        = f.text_field :direccion_2
        %br/
        = f.text_field :direccion_3
      .field
        = f.label :estado
        %br/
        = f.text_field :estado
      .field
      .field
        = f.label :ciudad
        %br/
        = f.text_field :ciudad
      .field
        = f.label :codigo_postal, "Código"
        %br/
        = f.text_field :codigo_postal
      .field
        = f.label :pais
        %br/
        = f.text_field :pais
    #factura_tab.tab-pane
      .field
        = f.label :factura_nombre, "Nombre de Empresa"
        %br/
        = f.text_field :factura_nombre
      .field
        = f.label :factura_RUC, "RUC"
        %br/
        = f.text_field :factura_RUC
      .field
        = f.label :factura_telefono, "Teléfono"
        %br/
        = f.text_field :factura_telefono
      .field
        = f.label :factura_direccion, "Dirección"
        %br/
        = f.text_field :factura_direccion
    #precio_tab.tab-pane
      .field
        = f.label :yellow, "Collar Amarillo"
        %br/
        = f.text_field :yellow
      .field
        = f.label :green, "Collar Verde"
        %br/
        = f.text_field :green
      .field
        = f.label :blue, "Collar Azul"
        %br/
        = f.text_field :blue
      .field
        = f.label :bracelet, "Pulsera"
        %br/
        = f.text_field :bracelet
        .field
        = f.label :earring, "Aretes"
        %br/
        = f.text_field :earring
      .field
        = f.label :keychain, "Llaveros"
        %br/
        = f.text_field :keychain
        .field
        = f.label :coin_purse, "Monedero"
        %br/
        = f.text_field :coin_purse
    #enviarfactura_tab.tab-pane
      .field
        = f.label :enviar_factura_1, "Enviar Factura a la Dirección"
        %br
        = f.text_field :enviar_factura_1
        %br
        = f.text_field :enviar_factura_2
        %br
        = f.text_field :enviar_factura_3
        %br
        = f.text_field :enviar_factura_4
        %br
        = f.text_field :enviar_factura_5
     
  %footer= f.submit "Enviar", class: "btn btn-default", :as => :input