<%= form_for @order do |f| %>
  <% if @order.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@order.errors.count, "error") %> prohibited this order from being saved:</h2>

      <ul>
      <% @order.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
   <h4>Basico</h4>

    <%= select(:order, :customer_id, Customer.all.map {|a| [ a.compania, a.id ] })%> <%= link_to 'Crear Nuevo', new_customer_path, :target => "_blank" %>

  <div class="field">
    <%= f.label :cuenta_del_grupo %><br>
    <%= number_to_percentage f.text_field :cuenta_del_grupo, scale: 2, default: 20 %>
  </div>
  <div class="field">
    <%= f.label :detall_de_pedido,"Detallas" %><br>
    <%= f.text_field :detall_de_pedido %>
  </div>
  <div class="field">
    <%= f.label :venta %><br>
    <%= number_to_currency f.text_field :venta %>
  </div>
  <div class="field">
    <%= f.label :pago, "Pagar o Cancelado" %><br>
    <%= f.check_box :pago %>
  </div>

  <div class="field">
    <%= f.label :estado_de_pedido %><br>
    <%= f.select :estado_de_pedido, options_for_select([ "Abierto","Cumplido","Pago en Processo", "Cerrado"], @order.estado_de_pedido)%>
  </div>
  <div class="field">
    <%= f.label :encargado, "Persona Encargado" %><br>
    <%= f.text_field :encargado %>
  </div>
  <div class="field">
    <%= f.label :fecha_de_finalizacion, "Fecha de Finalización" %><br>
    <%= f.date_select :fecha_de_finalizacion %>
  </div>
  <h4>Gastos</h4>

<table>
  <thead>
    <tr>
        <th>Descripcion</th>
        <th>Valor</th>
    </tr>
  </thead>
  <tbody>

      <%= f.fields_for :expenses do |this| %>
      <tr>
        <td><%= this.text_field :nombre %></td>
        <td>$<%= this.text_field :valor %></td>
        <!-- <td> <a href="#" id="remove_fields" data-message="<%=this%>">Click Here</a></td> -->
      </tr>
      <% end %>
  </tbody>
</table>


    <h4>Codigos</h4 >
    <%= f.label :codigos_vendido,"Codigos" %><br>
    <%= f.text_area :codigos_vendido, :cols => "40", :rows => "7"%>

   <h4>Enviar</h4>

  <div class="field">
    <%= f.label :enviar %><br>
    <%= f.check_box :enviar %>
  </div>
  <div class="field">
    <%= f.label :numero_de_rastreo,"# de Rastreo" %><br>
    <%= f.text_field :numero_de_rastreo %>
  </div>
  <div class="field">
    <%= f.label :idioma %><br>
    <%= f.select :idioma, options_for_select([ "English","Español" ], @order.idioma)%>
  </div>
  <div class="field">
    <%= f.label :pesa_en_gramas, "Pesa" %><br>
    <%= f.text_field :pesa_en_gramas %>gramas
  </div>

  <div class="field">
    <%= f.label :valor_aduana,"Valor para Formulario de Exporta Facil" %><br>
    <%= number_to_currency f.text_field :valor_aduana %>
  </div>
  <div class="field">
    <%= f.label :factura_numero, "# de Factura" %><br>
    <%= f.text_field :factura_serie %>
    <%= f.number_field :factura_numero %>
  </div>
  <div class="field">
    <%= f.label :fecha_de_factura %><br>
    <%= f.date_select :fecha_de_factura %>
  </div>

  <div class="actions">
    <%= submit_tag "Submit" %>
  </div>
<% end %>
