   
= form_for @order do |f|
  - if @order.errors.any?
    #error_explanation
      %h2
        = pluralize(@order.errors.count, "error")
        prohibited this order from being saved:
      %ul
        - @order.errors.full_messages.each do |msg|
          %li= msg
  .tabbable
    %ul#proftabs.nav.nav-tabs.mobile_hide
      %li
        %a{"data-toggle" => "tab", href: "#basic_info_tab"} Básico
      %li
        %a{"data-toggle" => "tab", href: "#asignar_tab"} Asignar
      %li.hidden-phone
        %a{"data-toggle" => "tab", href: "#gastos_tab"} Gastos
      %li.hidden-phone
        %a{"data-toggle" => "tab", href: "#codigos_tab"} Códigos
      %li.hidden-phone
        %a{"data-toggle" => "tab", href: "#enviar_tab"} Enviar
  -#Tab Content
  .tab-content.spacer
    #basic_info_tab.tab-pane.row.active
      #wrap
        #left_col
          .field
            = f.label :customer_id, "Cliente"
            = select(:order, :customer_id, Customer.order(:compania).map {|a| [ a.compania, a.id ] })
            %br= link_to 'Crear Nuevo', new_customer_path, :target => "_blank"
          %br
          .field
            = f.label :detall_de_pedido,"Detalles"
            = f.text_area :detall_de_pedido, :cols => "40", :rows => "7"



        #right_col
          .field
            = f.label :venta
            %h2=  f.text_field :venta, :class => 'input-small'
          .field
            = f.label :estado_de_pedido
            = f.select :estado_de_pedido, options_for_select([ "Abierto","Cerrado"], @order.estado_de_pedido)   

          .field
            = f.label :pago, "Consignación"
            = f.check_box :pago
          %br
          
          .field
            = f.label :location_id, "Consignación en"
            = select(:order, :location_id, Location.order(:location).map {|a| [ a.location, a.id ] })
            %br= link_to 'Crear Nuevo', new_location_path, :target => "_blank"
          %br
    #asignar_tab.tab-pane
      .field
        = f.label :encargado, "Persona Encargado"
        %br/
        = f.text_field :encargado, :class => 'input-medium'
      .field
        = f.label :fecha_de_finalizacion, "Fecha de Finalización"
        %br/
        = f.date_select :fecha_de_finalizacion, options={with_css_classes: true} 
    #gastos_tab.tab-pane
      .field.left
        = f.label :cuenta_del_grupo
        %br/
        = number_to_percentage f.text_field :cuenta_del_grupo, scale: 2, default: 20, :class => 'input-small', style: "text-align:center;"
      %table#full
        %thead
          %tr
            %th Descripción
            %th Valor
        %tbody
          = f.fields_for :expenses do |this|
            %tr
              %td= this.text_field :nombre
              %td
                #{this.text_field :valor}

    #codigos_tab.tab-pane
      = f.label :codigos_vendido,"Códigos"
      %br/
      = f.text_area :codigos_vendido, :cols => "40", :rows => "7"
    #enviar_tab.tab-pane
      .field
        = f.label :enviar
        = f.check_box :enviar
        %br
        %br
      #wrap
        #left_col
          .field
            = f.label :numero_de_rastreo,"# de Rastreo"
            %br/
            = f.text_field :numero_de_rastreo
          .field
            = f.label :idioma
            %br/
            = f.select :idioma, options_for_select([ "Inglés","Español" ], @order.idioma)

          .field
            = f.label :fecha_de_factura
            %br/
            = f.date_select :fecha_de_factura, options={with_css_classes: true} 
        #right_col
          .field
            = f.label :pesa_en_gramas, "Pesa en Gramas"
            %br/
            = f.text_field :pesa_en_gramas, :class => 'input-small'
          .field
            = f.label :valor_aduana,"Valor para Formulario de Exporta Facil"
            %br/
            = f.text_field :valor_aduana, :class => 'input-small'

      .field
        = f.label :factura_numero, "# de Factura"
        %br/
        = f.text_field :factura_serie
        = f.number_field :factura_numero
  %footer.actions
    = submit_tag "Submit", class: "btn btn-default"