
<div class="a4">


<div class="from"><br>

<p><%= MyDetail.first.compania_nombre %></p>
<p><%= MyDetail.first.direccion_1  %><p>
<p><%= MyDetail.first.direccion_2  %></p>
<p><%= MyDetail.first.direccion_3  %></p>
<p><%= MyDetail.first.cuidad %>, <%= MyDetail.first.provencia %>  <%= MyDetail.first.codigo_postal %></p>
<p>Tel: <%= MyDetail.first.business_phone %></p>

</div>

<div class="to">
<p><%= @order.customer.nombre_de_contacto   %></p>
<p><%= @order.customer.compania  %></p>
<p>Order # <%= @order.id %></p>
<p><%=  @order.customer.direccion_1  %></p>
<p><%= @order.customer.direccion_2   %></p>
<p><%=  @order.customer.direccion_3  %></p>
<p><%=  @order.customer.ciudad%> , <%=@order.customer.estado  %> <%=  @order.customer.codigo_postal%> </p>
<p>Tel: <%=  @order.customer.telefono_1  %></p>
</div>






















