<div class="page"></div>
<div id="mc_address">
<p><%= MyDetail.first.direccion_1 %></p>
<p><%= MyDetail.first.compania_nombre %></p>
<p><%= MyDetail.first.direccion_2 %></p>
<p><%= MyDetail.first.direccion_3 %></p>
<p><%= MyDetail.first.cuidad %>, <%= MyDetail.first.provencia %> 
</div>