<div class="page"></div>
<div id="mc_address">
<%= MyDetail.first.direccion_1 %><br>
<%= MyDetail.first.compania_nombre %><br>
<%= MyDetail.first.direccion_3 %><br>
<%= MyDetail.first.direccion_2 %><br>
<%= MyDetail.first.cuidad %>, <%= MyDetail.first.provencia %> 
</div>