
%h1 Archivos

%ol	
	%li
		= link_to "Estatuto", "https://dl.dropbox.com/s/xu6xz0wt7okqr38/ESTATUTOv2.docx", :target => "_blank"
	%li
		=link_to "Constitutiva", "https://dl.dropbox.com/s/0ulqbizflsxskak/Acta%20Constitutiva%20de%20la%20Corporaci%C3%B3n%20Mujeres%20Cambia.docx", :target => "_blank"
	%li
		=link_to "Informe de Plan de Marketing(Inglés)", "https://dl.dropbox.com/s/wdj9ii90f5kwaxu/SOLUTIONS.docx", :target => "_blank"
	%li
		=link_to "Powerpoint Negocio de Mujeres: Cambia (Inglés)", "https://dl.dropbox.com/s/z4wfkut0iyy18kh/BusinessBehindMujeresCambia.ppt", :target => "_blank"
	%li
		=link_to "Tiendes Potenciales (Inglés)", "https://dl.dropbox.com/s/l374g2ikv9uz8e0/Tiendas%20Potenciales.xlsx", :target => "_blank"
	%li
		=link_to "Prezi CAT Tools (Inglés)", "https://dl.dropbox.com/s/rqnuip3n62f2bs0/MujeresCambiaPrezi.pdf", :target => "_blank"
	%li
		=link_to "Patente", "https://dl.dropbox.com/s/3jwf5240kz7pmbb/Patent%20Mujeres%20Cambia.jpg", :target => "_blank"

		
%h1 Enlaces

%ol
	%li 
		Dinero
		%ul
			= link_to "Paypal", "https://www.paypal.com/ec/webapps/mpp/home", :target => "_blank"
		%ul
			= link_to "Payonner", "https://myaccount.payoneer.com/Login/Login.aspx", :target => "_blank"
		%ul
			= link_to "Banco de Guayaquil", "http://www.bancoguayaquil.com/responsive/personas/cuentas/indexPersonal.html", :target => "_blank"
	%li 
		Pepas de Madera
		%ul
			= link_to "Panda Hall", "http://www.pandahall.com/", :target => "_blank"
		%ul
			= link_to "Almacen Henry", "http://almaceneshenry.com/", :target => "_blank"
	%li 
		Marcadores
		%ul
			= link_to "Amazon", "http://amazon.com/", :target => "_blank"
	%li 
		Recibir Paquetes
		%ul
			= link_to "Club Correos", "http://www.clubcorreos.com/", :target => "_blank"


