


<%= form_for(@buyer) do |f| %>
  <% if @buyer.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@buyer.errors.count, "error") %> prohibited this buyer from being saved:</h2>

      <ul>
      <% @buyer.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

 

<div class="tabbable">
   <ul class="nav nav-tabs" id="proftabs">
      <li><a href="#basic_info_tab"  data-toggle="tab" >Compañía</a></li>
      <li><a href="#factura_tab" data-toggle="tab">Facturación</a></li>
      <li><a href="#prices_tab" data-toggle="tab">Precios</a></li>
      <li><a href="#imagen_tab" data-toggle="tab">Imagen</a></li>
  </ul>
</div>

 <div class="tab-content row-fluid">
        <div id="basic_info_tab" class="tab-pane">
              <div class="span6 offset1">
                    <div class="field">
                      <%= f.label :nombre_de_compañía %>
                      <%= f.text_field :company, placeholder: "Ropa, Joyas y Mas" %>
                    </div>
                    <div class="field">
                      <%= f.label :nombre_y_apellido %>
                      <%= f.text_field :contact_name , placeholder: "Elba Suarez" %>
                    </div>
                    <div class="field">
                      <%= f.label :email %>
                      <%= f.text_field :contact_email , placeholder: "nombre@hotmail.com" %>
                    </div>

              </div>
              <div class="span5">
                    <div class="field">
                      <%= f.label :Teléfono %>
                      <%= f.text_field :contact_phone_1, placeholder: "primario" %>
                      <%= f.text_field :contact_phone_2, placeholder: "secundario"%>
                    </div>
                    <div class="field">
                      <%= f.label :dirección_de_envio %>
                      <%= f.text_field  :shipping_address_line_1, placeholder:"1234 Main Street" %>
                      <%= f.text_field  :shipping_address_line_2, placeholder: "Boston MA, 23412"%>
                     <%= f.text_field  :shipping_address_line_3, placeholder: "USA"%>
                    </div>

              </div> 
        </div>
        <div id="imagen_tab" class="tab-pane">
                        <table>
                          <tr>
                            <td><%= link_to image_tag(@buyer.store_image.url(:medium)), @buyer.store_image.url %></td>
                              <td><%= f.label :subir_otra_foto %><%= f.file_field :store_image %></td>
                          </tr>
                        </table>
        </div>  
        <div id="prices_tab" class="tab-pane">
               <table>
                   <tr>
                        <td> <%= f.label :collares_azul %></td>
                        <td><%= f.text_field :necklaces_blue %></td>
                    </tr>
                   <tr>
                        <td><%= f.label :collares_verde %></td>
                        <td><%= f.text_field :necklaces_green %></td>
                    </tr>
                    <tr>
                        <td> <%= f.label :collares_amarillo %></td>
                        <td><%= f.text_field :necklaces_yellow %></td>
                    </tr>
                    <tr>
                      <td><%= f.label :pulseras %></td>
                      <td><%= f.text_field :bracelets %></td>
                    </tr>
                    <tr>
                      <td><%= f.label :aretes %></td>
                      <td><%= f.text_field :earrings %></td>
                    </tr>
                    <tr>
                      <td><%= f.label :monederos %></td>
                      <td><%= f.text_field :wallets %></td>
                    </tr>
                    <tr>
                      <td><%= f.label :llaveros %></td>
                      <td><%= f.text_field :keychains %></td>
                    </tr>

               </table>
                      
                      
                    
        </div>  
        <div id="factura_tab"  class="tab-pane">
               <div class="span6 offset1">
                            <%= f.label :información_de_factura %><br>
                       <table>
                     <tr>
                          <td> Nombre:</td>
                          <td><%= f.text_field :factura_information %></td>
                      </tr>
                     <tr>
                          <td>  Dirección:</td>
                          <td><%= f.text_field :factura_information_address %></td>
                      </tr>
                      <tr>
                          <td> RUC:</td>
                          <td><%= f.text_field  :factura_information_RUC  %></td>
                      </tr>
                      <tr>
                        <td>Teléfono</td>
                        <td><%= f.text_field  :factura_information_phone %></td>
                      </tr>
                      </table>

              </div>
              <div class="span5">
              
                    <div class="field">
                        <%= f.label :dirección_de_envio_de_factura %><br><br>
                        <%= f.text_field  :special_instructions %>
                        <%= f.text_field  :special_instructions_2 %>
                        <%= f.text_field  :special_instructions_3 %>
                       <%= f.text_field  :special_instructions_4 %>
                    </div>                 
                   
                    
              </div>
              
        </div>
</div>



<div class="actions">
  
</div>

<%= f.submit "Actualizar", class: "btn btn-default"%>
  <% end %>

  <%= link_to 'Mostrar', @buyer %> | <%= link_to 'Borrar', @buyer, method: :delete, data: { confirm: 'Are you sure?' } %> |
  <%= link_to 'Indice', buyers_path %><br>

 
