<h1><%= t "nav.buyers" %></h1>

<%= render partial:  'grid' %>
<div class="row-fluid">
    <div class="span1">
       Nombre:
    </div>
    <div class="span11">
       <%= grid_filter @buyers_grid, :contact_name_filter %> 
    </div>
</div>
<div class="row-fluid">
    <div class="span1">
       Compañía:
    </div>
    <div class="span11">
       <%= grid_filter @buyers_grid, :company_filter %> 
    </div>
</div>

<div class="row-fluid">
  <div class="span12">
      <div class="external-buttons">
        <button class="btn btn-primary wg-external-submit-button" data-grid-name="grid"> Enviar </button>
        <button class="btn wg-external-reset-button" data-grid-name="grid"> Reinicializar </button>
      </div><br><br>
      <%= render_grid(@buyers_grid) %>
  </div>
</div>
