<p id="notice"><%= notice %></p>

<h1><%= @buyer.company %></h1>
<div class="row-fluid">
  <div class="span6">
      <p>
        <strong>Nombre y Apellido:</strong>
        <%= @buyer.contact_name %>
      <br>
        <strong>Email:</strong>
        <%= @buyer.contact_email %>
      </p>

      <p>
        <strong>Teléfono 1:</strong>
        <%= @buyer.contact_phone_1 %>
      <br>
        <strong>Teléfono 2:</strong>
        <%= @buyer.contact_phone_2 %>
      </p>

      <p><strong>Dirección de Envío:</strong><br>
        <%= @buyer.shipping_address_line_1 %><br>
        <%= @buyer.shipping_address_line_2 %><br>
        <%= @buyer.shipping_address_line_3 %>
      </p>
         <% if @buyer.factura_information.length >0 %>

              <p>
                <strong>Factura Información:</strong><br>
                Nombre: <%= @buyer.factura_information %><br> 
                RUC: <%= @buyer.factura_information_RUC %><br> 
                Dirección: <%= @buyer.factura_information_address %><br> 
                Teléfono: <%= @buyer.factura_information_phone %><br>
              </p>

              <p>
                <strong>Dirección de Envíar Factura:</strong><br>
                <%= @buyer.special_instructions %><br>
                <%= @buyer.special_instructions_2 %><br>
                <%= @buyer.special_instructions_3 %><br>
                <%= @buyer.special_instructions_4 %><br>
              </p>
          <%else%><% end %>    
        <strong>Precios:</strong><br>
      
        <table>
        <tr>
            <td>
              Collares-Azul <%= number_to_currency(@buyer.necklaces_blue)%><br>
              Collares-Amarillo <%= number_to_currency(@buyer.necklaces_yellow)%><br>
              Collares-Verde <%= number_to_currency(@buyer.necklaces_green)%><br>
              Pulseras <%= number_to_currency(@buyer.bracelets)%><br>

            </td>
      
          <td>
            Aretes <%= number_to_currency(@buyer.earrings)%><br>
            Llaveros <%= number_to_currency(@buyer.keychains)%><br>
            Monederos <%= number_to_currency(@buyer.wallets)%><br><br>
          </td>
        </tr>
        </table>
        
      
  </div>

 

  <div class="span6" id="photo">
       <% if @buyer.store_image_file_size %>
              <%=  image_tag(@buyer.store_image.url( ), :size => "800x800")%>
       <% end %>
  </div>
</div>

<%= link_to 'Editar', edit_buyer_path(@buyer) %> |
<%= link_to 'Indice', buyers_path %>
