<h1>Editar Producto</h1>
<div class="center">
	<p id="notice"><%= params[:notice] %></p>
<%= form_for @product do |f| %>
 	Artista: <%= select_artist_edit %><br>
	Diseño: <%= select_design_edit%><br>
  	Código: <%= f.number_field :codigo%><br>
	Estado	 <%= select_location_edit %><br>
 	<footer><br>
		  <%= f.submit "Enviar", class: "btn btn-default" %>
  	</footer>
<% end %>
</div>
<footer>
<%= link_to 'Ver Todos', products_path %> |
<%= link_to 'Destruir', @product, method: :delete, data: { confirm: '¿Estás Seguro?' } %>
</footer>