<h1>A침adir un Producto</h1>

<p id="notice"><%= params[:notice] %></p>


<%= form_for @product do |f| %>
 	Artista	 <%= select_artist_new %><br>
	Dise침o <%= select_design_new%><br>
	<% if  Product.all.count == 0 %>
  	C칩digo <%= f.number_field :codigo, value: 1 %><br>
	<% else %>
  	C칩digo <%= f.number_field :codigo, value: Product.last.codigo+1 %><br>
	<% end %>
  	Estado <%= select_location_new%><br>
  <!-- 	Estado <%= f.select :estado, options_for_select([ "Inventario","Vendido"], "Inventario")%><br> -->
  <%= f.submit "Enviar", class: "btn btn-default" %>
<% end %>

<%= link_to 'Regresar', products_path %>
