<h1>Añadir un Producto</h1>

<p id="notice"><%= params[:notice] %></p>

<div class="center">
<%= form_for @product do |f| %>
 	Artista	 <%= select_artist_new %><br>
	Diseño <%= select_design_new%><br>
  	Código <%= f.number_field :codigo, value: Product.last.codigo+1 %><br>
  	Estado <%= select_location_new%><br>
  <!-- 	Estado <%= f.select :estado, options_for_select([ "Inventario","Vendido"], "Inventario")%><br> -->
 <footer>  <%= f.submit "Enviar", class: "btn btn-default" %></footer>

<% end %>
</div>

<footer>
	<%= link_to 'Regresar', products_path %>
</footer>
