<%= form_for(@sale) do |f| %>
  <% if @sale.errors.any? %>
    <div id="error_explanation">
      
      <h2><%= pluralize(@sale.errors.count, "error") %> prohibited this sale from being saved:</h2>

      <ul>
      <% @sale.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_area :name , :rows => 2 %>
  </div>
  <div class="medium_text_field">
    <%= f.label :amount %><br>
    <%= f.text_field :amount%>
  </div>
  <div class="field">
    <%= f.label :date %><br>
    <%= f.date_select :date, options={with_css_classes: true} %>
  </div>

  <div class="field">
    <%= f.label :export %>
    <%= f.check_box :export %>
  </div>
  <div class="field">
    <% if @sale.factura_file_name %> 
        <table>
          <tr>
            <td><%= link_to image_tag(@sale.factura.url(:thumb)), @sale.factura.url %></td>
            <td><%= f.label :Upload_Another_Image %><%= f.file_field :factura %></td>
          </tr>
        </table>
   <% else %>
      <%= f.label :factura %>
      <%= f.file_field :factura %>
    <% end %>
  </div>
  <br>
  <div class="actions">
    <%= f.submit "Update Record", class: "btn btn-default"%>
  </div>
<% end %>