%head
  %title Admin Area
  = stylesheet_link_tag  "application"
  = javascript_include_tag "application", "data-turbolinks-track" => true
  = csrf_meta_tags
  %meta{content: "width=device-width, initial-scale=1.0", name: "viewport"}/
%body
  %nav#user_nav= render :partial => 'shared/sharednavbar'
  - if current_user
    #main
      = yield
    %footer
      %p
        %i.icon-user
        = current_user.email
        %br/
        = link_to "Finalizar la Sesión", log_out_path
  - else
    #main
      = yield :not_logged_in